#wrapper {
  height: 800px;
  display: flex;
  background: linear-gradient(#ffffff 0%, #c263cf 100%);
}
.rectangle {
  background-color: #f1e0f7;
  z-index: 1;
  width: 1300px;
  margin-left: 120px;
  margin-top: 50px;
}
.header {
  display: flex;
  margin-left: 430px;
  height: 65px;
  margin-top: 12px;
}
.header img {
  height: 60px;
  width: 60px;
}
.title {
  margin-left: 20px;
  margin-top: 12px;
  font-size: 30px;
  font-weight: 700;
}
.background {
  height: 70%;
  text-align: start;
  display: flex;
}
.background img {
  height: 673px;
  width: 1300px;
  position: absolute;
}
.form {
  width: 500px;
  height: 560px;
  background-color: #fffafaf2;
  opacity: 0.9;
  z-index: 0;
  border-radius: 30px;
  margin-left: 750px;
  margin-top: 70px;
}
.form img {
  width: 362px;
  height: 120px;
  margin-left: 110px;
}
.form p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 120px;
  color: #000000;
  margin-bottom: 20px;
}
label {
  color: #6a028f;
}
.SignUp {
  margin-left: 20px;
}
.SignUp_input {
  width: 450px;
  height: 50px;
  color: #ffffff;
  border: 1px solid #bf39d6;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 20px;
}

.btn_wrapper {
  display: flex;
  gap: 10px;
}
.submit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.btn_wrapper button {
  justify-content: center;
  align-items: center;
  width: 462px;
  height: 50px;
  background: #9453ff;
  border-radius: 4px;
  border: none;
  margin-top: 20px;
}
input::-webkit-input-placeholder {
  color: #6a028f;
  padding-left: 20px;
}
